@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    
}

/* For section snap scrolling, uncomment if you want snap scrolling */
/*
html {
  scroll-snap-type: y mandatory;
}
Q
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
*/
